body{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    /*margin: 0 auto; *
    max-width: 800px; 
    padding: 20px;*/

    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
 
.flex-header{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

}


h1{
    color: rgb(26, 20, 51);

    font-size: 30px; 
   
}
h2{
    color:  #00aeef;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 35px;
    margin-top: -3vh;
}
h3{ 
    color: rgb(26, 20, 51);
    font-family: 'Barlow Condensed', sans-serif;
    
    font-size: 17px;
    
}
.qualité{
    
   display: flex;
   justify-content: flex-start;
 
}

.qualité div{
    margin-right:1vw ;
    padding: 0.2rem;
}

.developpement{
    color: white;
    background: rgb(70, 50, 180);
    border-radius: 3px;
   
    
}

.riguer{
    color: white;
    background:rgb(70, 50, 180);
    border-radius: 3px;
   

}

.autonomie{
    color: white;
    background:  rgb(70, 50, 180);
    border-radius: 3px;
   
}
.ouvert{
    color: white;
    background:  rgb(70, 50, 180);
    border-radius: 3px;
   
}


    /* section */

section{
    width: 150vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;

}
a{ 
    text-decoration: none;
}

nav{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
.container li{
    text-decoration: none;
    list-style: none;
    

}

.container{
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.2rem solid #c9bfca;
    
}
.container0{
    display: flex;
    justify-content: flex-start;
    
    
}

.menu{
    margin-right: 3vh;
}

.cvd {

    
    text-decoration: none;
    list-style: none;
    margin-right: 0%;
    margin-left: auto;
    
}


.checked {
    color: orange;

}
#colon1{
    width: 40vw;
}
#colon2{
    width: 40vw;
   
}

   
#colon3{
    width: 40vw;
    margin-top: 8.5vw;  
}


.comp01 {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  
}
.star{
    list-style: none;
    padding-left: 0%;
    margin-left: 104 px;
    display: inline-block;
    
  
}
.hetic{
    float: center;
    width: 8vw;
    margin-top: 400px;

}
p{
    color:  #00aeef;

}
#star02{
    list-style: none;
    display: inline-block;

}

#menu li a:hover, menu li a.active {
	color:#E8232C;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    /*text-align: center;*/
    color: white;

  }
  
/* Individual bars */

  .bar-1 {width: 80%; height: 18px; background-color: #2196F3;}
  .bar-2 {width: 90%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 80%; height: 18px; background-color: #2196F3;}
  .bar-4 {width: 60%; height: 18px; background-color: #2196F3;}
  .bar-5 {width: 90%; height: 18px; background-color: #2196F3;}
  .bar-6 {width: 75%; height: 18px; background-color: #2196F3;}
  .bar-7 {width: 60%; height: 18px; background-color: #2196F3;}
  .bar-8 {width: 80%; height: 18px; background-color: #2196F3;}
  .bar-9 {width: 70%; height: 18px; background-color: #2196F3;}
  .bar-10 {width: 50%; height: 18px; background-color: #2196F3;}
  .bar-11 {width: 60%; height: 18px; background-color: #2196F3;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-height: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

    .reseau {
        position: fixed;
        right: 100px;
        display: none;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 500px;
        /* background-color: #666; */
       transition: all 0.4s ease-in-out;
        -webkit-transition: all 1.9s ease-in-out;
        -moz-transition: all 1.9s ease-in-out;
        -o-transition: all 1.9s ease-in-out;
    }
    .reseau1 {
        position: fixed;
        right: 125px;
        display: none;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 500px;
        /* background-color: #666; */
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 1.9s ease-in-out;
        -moz-transition: all 1.9s ease-in-out;
        -o-transition: all 1.9s ease-in-out;
    }